 ion-header {
    --background: #4a90e2; /* Color azul terciario */
  
  }

  ion-toolbar {
    --background: var(--ion-color-tertiary);
   
  }

  

  .detalle-card {
    --background: #ffffff; /* Fondo blanco para la tarjeta */
    color: #333333; /* Color del texto */
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }

  ion-card-title {
    color: #4a90e2; /* Color azul terciario */
    font-size: 1.2rem;
    font-weight: bold;
  }

  ion-list ion-item {
    --background: transparent;
  }

  ion-label {
    color: #333333; /* Color del texto */
  }

  ion-button {
    --border-radius: 8px; /* Bordes redondeados */
    --padding-start: 8px;
    --padding-end: 8px;
  }

  ion-button[color="primary"] {
    --background: #4a90e2; /* Color azul para el botón "Ver detalle" */
  }

  ion-button[color="danger"] {
    --background: #e74c3c; /* Color rojo para el botón "Eliminar" */
  }