.header-row {
    background-color: #233553;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    color: white;
  }
  
  .total-label, .total-value {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
    font-size: 1.2em;
  }
  
  .total-label {
    font-weight: bold;
  }
  
  .total-value {
    color: #3880ff;
  }
  